color1 = #349051
color2 = #064D5C
color3 = #68FB47
letras = #E51B44
blanco = #FFFFFF
color4 = #3D58ED
color5 = #81CBF9
color6 = #43A104
color7 = #D74D2E

.as1
	background color1
	border 1px solid red
	float right
	height 140px
	width 25%
	
.as2
	background color2
	border 1px solid red
	float left
	height 140px
	width 24%
	
.cuerpo
	margin-right 50px
	margin-left 50px

footer
	background color3
	clear both
	color letras
	height 40px 
	margin-top -50px	
	padding 5px 0px
	position relative
	text-align center

header
	background color4
	color blanco
	display block
	padding 10px 0px
	
nav 
	height 30px

p 
	font-size 30px
	
.sec1
	background color5
	float left
	overflow auto
	padding-bottom 60px
	padding-top 30px
	width 50%
.sec2
	background color6
	float left
	overflow auto
	padding-bottom 60px
	padding-top 30px
	width 75%

.sec3
	background color7
	float left
	overflow auto
	padding-bottom 60px
	padding-top 30px
	width 100%

	
